[:html
  [:head 
   [:meta {:char-set "utf-8"}] 
   [:meta {:name "viewport" :content "width=device-width, initial-scale=1"}] 
   [:title "threshold occurrence"] 
   [:script {:src "browser-main.js" :async ""}]] 
  [:body 
   [:div {:id "app"} [:div "hello worldds"]]]]

